      .login-background{
        margin-left: 35%;
        margin-top: 10%;
        background-color: rgba(247, 245, 245, 0.905);
        padding: 10px;
        border-radius: 20px;
        width: 400px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      
      .login-button{
        background-color: rgba(60, 60, 60,0.5);
        padding: 10px;
        width: 180px;
        border-radius: 20px;
      }
      
      .right{
        position: relative;
        cursor: pointer;
        right: -30px;
        font-size: 14px;
      }
      
      .right:hover{
        text-decoration: underline;
      }
      
      .left{
        position: relative;
        right: 30px;
        font-size: 14px;
      }
      
      h1{
        font-size: 25px;
      }